html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
    font-family: 'Titillium Web', sans-serif;
}

/* Margenes */
.topmargin-lg{
    margin-top: 60px;
}

.topmargin-sm{
    margin-top: 30px;
}

.topmargin-xs{
    margin-top: 15px;
}
/* Fin margenes */

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.btn i{
    font-size: 14px;
    margin-left: 1px;
}

/* Navbar */
.navbar{
    background-color: darkslategray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .05);
    min-height: 30px;
}

.nav-link{
    color: #ffffff;
    font: bold;
}

.nav-link:hover{
	color: white;
}

.cool-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: white;
	transition: width .3s;
}

.cool-link:hover::after{
	width: 100%;
	transition: width .3s;
}

.logo-brand{
    min-width: 50px;
    max-width: 50px;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}

.content-center{
    margin: 0 auto 60px auto;
    text-align: center;
}
/* Fin Navbar */


/* Footer */
#footer{
    background-color:  #131a22;
    
}
#contenedor-footer{
    padding-top: 100px;
}

#contenedor-footer h4{
    color: #E2EEF0;
    font-size: 13px;
}

.texto-footer{
    color: #ffffff;
}
/* Fin Footer */

p{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.foto-erziok{
    display: block;
    margin: auto;
}

h5{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.imagen{
    width: 184;
    height: 184;
}

#github{
    font-weight: bold;
    font-size: 20px;
}

#discord{
    font-weight: bold;
    font-size: 20px;
}

.fa-bars{
    color: white;
}

.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

#hero{
    background-color: #1a1a1a;
}

#presentacion{
    color: #ffffff;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    font-size: 16px;
}

#texto-nav{
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: large;
}

/* Boton volver arriba */

.gotopbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgb(238, 238, 238);
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: black;
	font-size: 22px;
}

#idioma{
    margin: 5px;
}

